* {
  border: none;
  border-radius: 5px;
  /* font-family: "Hack Nerd Font"; */
  font-family: "Symbols Nerd Font Mono";
  font-size: 13px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background: rgba(40, 40, 40, 0.7);
  color: rgba(255,255,255, 0.9);
  background-color: rgba(40, 40, 40, 0.8);
  padding: 0 10px;
  margin: 5px;
}

#workspaces button {
  margin: 0 3px;
  padding: 0 3px;
  background: transparent;
  color: white;
  border-top: 2px solid transparent;
  border-bottom: 1px solid;
}

#workspaces button.active {
  color: black;
  background-color: white;
}

#workspaces button:not(.empty):not(.active) {
  color: #fdcae1;
}

#bluetooth {
  color: #0082FC;
}

#backlight {
  color: #ffda9e;
}

#window {
  color: #b0f2c2;
}

#custom-appmenu {
  color: #5294e2;
}

#custom-wlogout {
  color: #ff6961;
}

#clock {
  color: #fdfd96;
}

#battery {
  color: #77dd77;
}

#network {
	color: #84b6f4;
}

#pulseaudio {
  color: #fdcae1;
}

#clock {
  font-weight: bold;
}

#battery icon {
  color: red;
}

#battery.charging {
  color: #77dd77;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  color: red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  background: #f53c3c;
}

