  /* color: #fdcae1; */
	/* color: #84b6f4; */
  /* color: #77dd77; */
  /* color: #ff6961; */
  /* color: #77dd77; */
  /* color: #b0f2c2; */
  /* color: #ffda9e; */
  /* color: #5294e2; */
  /* color: #bd1a1a; */
  /* color: #1793D1 */
  /* color: #0771A6 */
  /* color: #333333 */
  /* color: #33AADD */
  /* color: #1A1B26 */
  /* color: #24283b  */
  /* color: #C0CAF5 */
  /* color: #F7768E */
  /* color: #e25252 */

@define-color foreground #5294e2;
@define-color red #e25252;
@define-color background rgba(40, 40, 40, 0.7);
@define-color text white;

* {
  border-radius: 5px;
  font-family: "Symbols Nerd Font Mono";
  font-size: 15px;
  padding: 0 2px;
}

window#waybar {
  /* background: rgba(40, 40, 40, 0.7); */
  background: transparent;
  color: rgba(255,255,255, 0.9);
  /* background-color: rgba(40, 40, 40, 0.8); */
  background-color: transparent;
  margin: 5px;
}

#custom-appmenu {
  color: @foreground;;
}

.modules-left {
  background: @background;
  color: @text;
}

.modules-right {
  background: @background;
  color: @text;
}

#workspaces {
  background: @background;
}

#workspaces button {
  color: @foreground;
}

#workspaces button.active {
  color: black;
  background-color: rgba(255,255,255, 0.2);
}

#bluetooth {
  color: @text;
}

#backlight {
  color: @text;
}

#custom-wlogout {
  color: @red;
}

#battery {
  color: @text;
}

#network {
  color: @text;
}

#pulseaudio {
  color: @text;
}

#clock {
  color: @text;
}

#battery icon {
  color: @red;
}

#battery.charging {
  color: #77dd77;
}

#network.disconnected {
  background: @red;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

